

@media only screen and (max-width: 930px){
  
    .flexboxHorizontal[name="viewBox"]{
      display: flex;
      flex-direction: column;
      align-items: center !important;
      height: 100%;
    }
  
    .flexboxHorizontal[name="formBox"]{
      display: flex;
      flex-direction: column;
      align-items: center !important;
      height: 100%;
    }
}